h1{
    text-align: center;
    color: grey;
    font-size: 80px;
}

.row{
    height: 300px;
    outline: 1px solid black;
    background-color:coral;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

#row2{
    background-color: aqua;
}

#row3{
    background-color: blueviolet;
}

p{
    text-align: center;
    color: grey;
}

img{
    height: 275px;
    width: 275px;
}