*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color: grey;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.nav-links{
    height: 25px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: white;
}

.btn{
    background-color: #17A2B8;
    color: white;
    height: 25px;
    width: 100px;
    box-shadow: 3px 3px black;
}