*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.main{
    height: 550px;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    outline: 3px solid grey;
}

.box{
    height: 150px;
    background-color: #17A2B8;
}

.profile-pic, #user{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile-pic{
    position: relative;
    bottom: 75px;
    left: 25px;
}

#marker{
    height: 20px;
    width: 20px;
    object-fit: contain; 
}

.edit-prof{
    padding-top: 10px;
}

#gear{
    height: 15px;
    width: 15px;
    object-fit: contain; 
}

a{
    color: #2B78E4;
}
 
.location{
    margin-bottom: 10px;
}

#user{
    border: 4px solid white;
    box-shadow: gray 2px 2px 2px;
}

.row{
    padding-left: 30px;
}

h1{
    font-size: 3rem;
}